* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'kanit';

}


/*Nav Bar Container*/
.nav-container {
  position: fixed;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #000000;
}

.nav-name {
  margin-left: 5%;
  font-size: 1rem;

}

.nav-name a {
  text-decoration: none;
  
}

.nav-bar {
  margin-right: 2%;
}

.nav-bar li {
  display: inline;
  list-style: none;
  text-decoration: none;
  padding: 0 30px;
}

.nav-bar a {
  text-decoration: none;
  font-size: 1rem;
}
/*Fonts color Nav container*/
.nav-bar a{
  color: white;
}

.nav-name a{
  color: white;
  
}

nav li a:hover {
  padding: 10px;
  margin: auto;
  background-color: #9FB0BF;
  color: #F2F2F0;
  border-radius: 2%;
  
}
/*Banner Container*/

.banner-container {
  z-index: -1;
  position:absolute;
  width: 100%;
  height: 850px;
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 1),
    rgba(0, 0, 0, 0.1)
   ), url(./resources/aurora-1197753.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;  
  
  

}

.banner {
  
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
    
  
}
.banner h1 {
  color: #ffffff;
}
.banner h2{
  color: #9FB0BF;
}

/*About me container*/
.aboutMe-container{
  position:relative;
  z-index: -1;
  padding-top: 45px ;
  align-content: center;
  justify-items: center;
  text-align: center;
  height: 800px;
  background: #9FB0BF;
  /*background: rgb(0,0,0);
background: linear-gradient(180deg, rgba(0,0,0,1) 3%, rgba(255,255,255,0.5270483193277311) 76%, rgba(255,255,255,0) 98%, rgba(255,255,255,0) 100%);
 */ }

.aboutMe-container img{
  
  border-radius: 50%;
  object-fit: cover;
  
}


.aboutMe-container h2{
  margin-top: 3%;
  color: #000000;
}

.aboutMe-container p{
  margin-top: 6%;
  font-style:normal;
  
}

/*Footer Container*/
footer{
  padding-top: 50px;
  padding-bottom: 50px;
   background-color: #9FB0BF;
}

.footer-container{
  display: flex;
  margin: 0;
  
  width: 100%;
  align-content: center;
  justify-items: center;
  align-items: center;
  justify-content: space-around;
  
  
}


.contact-information p{
  text-align: center;
  font-size: 0.8rem;
  padding-bottom: 4px;
  color:#0D0D0D;
  
  
}

.social-media{
  
  width: 50%;
  display: inline-flex;
  justify-content: space-around;
  
    
}


/*Contact Button-footer*/

.contact-button {
  margin: 10px;
  display: inline-block;
 padding: 12px 24px;
 border: 1px solid #dfdfdf;
 border-radius: 4px;
 transition: all 0.2s ease-in;
 position: relative;
 overflow: hidden;
 font-size: 19px;
 color: black;
 z-index: 2;
}

.contact-button:before{
  content: "";
 position: absolute;
 left: 50%;
 transform: translateX(-50%) scaleY(1) scaleX(1.25);
 top: 100%;
 width: 140%;
 height: 180%;
 background-color: rgba(0, 0, 0, 0.05);
 border-radius: 50%;
 display: block;
 transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
 z-index: -1;
}
.contact-button:after{
  content: "";
 position: absolute;
 left: 55%;
 transform: translateX(-50%) scaleY(1) scaleX(1.45);
 top: 180%;
 width: 160%;
 height: 190%;
 background-color: #39bda7;
 border-radius: 50%;
 display: block;
 transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
 z-index: -1;
}
.contact-button:hover {
  color: #ffffff;
  border: 1px solid #39bda7;
}

.contact-button:hover:before{
  top: -35%;
 background-color: #39bda7;
 transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}

.contact-button:hover::after{
  top: -45%;
  background-color: #39bda7;
  transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}



.footer-menu{
  padding-right: 20px;
  padding-left: 40px;
    
}

.footer-menu ul {
  list-style: none;
  text-decoration: none;
}
.footer-menu a{
  color: white;
  text-decoration: none;
  
  
}

.footer-menu a:hover{
  color: #363636;
}
/*nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #2d2f30;
  }
  
  nav li {
    float: left;
    list-style-type: none;
    margin-right: 100px;
  }
  
  nav li a {
    display: block;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 25px 45px;
    text-decoration: none;
    font-family: 'Kanit', sans-serif;
    font-size: 1rem;
    background-color: #2d2f30;
    
  }
  
  /* Change the link color to #111 (black) on hover */


/*Fuentes Tamanos*/
h1 {
  font-size: 4rem;
  color: rgb(255, 255, 255);

}

h2 {
  font-size: 2.5rem;
  color: rgb(255, 255, 255);
}


h3 {
  font-size: 2rem;
  color: rgb(255, 255, 255);
}

ul {
  color: rgb(241, 228, 203);
  font-size: 1rem;
  text-decoration: none;

}

li {
  color: rgb(241, 228, 203);
  font-size: 1rem;
  text-decoration: none;
}

p {
  font-size: 1rem;
  font-style: italic;
  color: rgb(5, 5, 5);
}

li a{
  text-decoration: none;
}

/*Organizacion de Elementos banner*/


/*Organizacion de Elementos Section Experience jobs*/
/*.box-container-experience{
    margin: 0 auto;
    padding-top: 30px;
    padding-bottom: 30px;
    width: 100%;
    display: grid;
    text-align: center;
    align-items: center;
    background-color: #2d2f30;
    
}
.main-container{
  
  width: 100%;
  height: 100%;
  
}
.main-container h2{
    
    width: 100%;
    height: 100%;
    padding-top: 20px;
    background-color:  #2d2f30;
    color: white;
    

}
.second-container{
    width: 100%;
    padding-top: 100px;
    padding-bottom: 100px;
    background-color:  #2d2f30;
}
.elements{
  
    background-color: aliceblue;
    display: flex;
    grid-template-rows: repeat(3, 30%);
    height: 550px;
    align-items: center;
    justify-content: center;
    
  
}
.first-job{
    
    margin: 5%;
    padding: 25px;
    height: 400px;
    align-items: center;
    justify-content: center;
    text-align:center;
    border-radius: 25px;
    
}

.second-job{
    margin: 5%;
    padding: 25px;
    height: 400px;
    align-items: center;
    justify-content: center;
    text-align:center;
    border-radius: 25px;
    
}

.third-job{
    margin: 5%;
    padding: 25px;
    height: 400px;
    align-items: center;
    justify-content: center;
    text-align:center;
    border-radius: 25px;
}

.second-container ul li{
    list-style-type: none;
    
}

/*Educacion*/
/*
#educacion {
  background-color: #2d2f30;
  width: 100%;
  height: 500px;
  margin: auto;
  padding:2px;
    
}
.aplied-studies h2{
  text-align: center;
  color: white;
  background-color: #2d2f30;
}


.main-container-educacion {
  margin: 0 auto;
  width: 100%;
  height: 400px;
  background-color: #2d2f30;
  padding: 10px;
  display: inline-flex;
  align-items:center;
  text-align: center;
     
}

.universidad {
  height: 200px;
  list-style-type: none;
  background-color: #2d2f30;
  padding: 5px;
  
}
.codecademy {
  height: 200px;
  list-style-type: none;
  background-color: #2d2f30;
  padding: 5px;
}

.universidad h3{
  background-color: #2d2f30;
}

.codecademy h3{
  background-color: #2d2f30;
}
.universidad p{
  background-color: #2d2f30;
}

.codecademy p{
  background-color: #2d2f30;
}

/*Organizacion Skills*/
/*
#skill{
  margin-top: 20px;
  text-align: center;
  color: white;
}
#skill h2{
  padding: 20px;
}

.skill-container{
  list-style-type: none;
  display: flex;
}

.skill-container li{
  color: white;
  width: 10%;
  height: 25px;
  background-color: #2d2f30;
  border-radius: 40%;
}

.skill-container li:hover{
  background-color: #7b8185
}

/*Organizacion footer*/
/*
.footer-container{
  margin: 20px 0;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
  display: flex;
  text-align:left;
  justify-content: center;
  align-items: center;
  background-color: rgb(86, 88, 88);
}

.contact-information{
  background-color: rgb(86, 88, 88);
}

.contact-information p{
  width: 60%;
  
  font-size: 1rem;
  background-color: rgb(86, 88, 88);
  
}

.social-media{
  
  width: 50%;
  display: inline-flex;
  justify-content: space-around;
  background-color: rgb(86, 88, 88);
    
}

.social-media img{
  background-color: rgb(86, 88, 88);
}