@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap");
*,*::before, *::after{
  box-sizing: border-box;
  
}

body{
  
  margin: 0;
  padding: 0;
  font-family: "Ubuntu", sans-serif;
  background-color: #0aa5ff;
}
/*--------------------------------------------------------------*/
/*--------------------------------------------------------------*/

/*Nav Bar Container*/

a,
button {
  all: unset;
  cursor: pointer;
}


.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 90px;
  background-color: hsl(0, 0%, 0%);
  padding: 20px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: transform 0.5s ease;
}



.navbar .logo a {
  
  font-size: 1.5rem;
  font-weight: 700;
  color: white;
  
}


.menu{
  display: flex;
  align-items: center;
  gap: 2rem;
}

.menu-links{
  display: flex;
  gap: 1.75rem;
    border-right: 1px solid #999999;
  padding-inline: 24px;

}

.menu-links a{
  font-weight: 500;
  color: #999999;
  padding: 8px 16px;
}
.menu-links a:hover{
  color: white;
}

.contact{
  font-weight: 500;
  padding: 12px 22px;
  background-color: transparent;
  color: #999999;
  border-radius: 10px;
  border: 2px solid #0aa5ff;
  transition: 0.25s;
  
}


.contact:hover {
  background-color: #0aa5ff;
  color: white;
}

.menu-btn {
  font-size: 32px;
  color: white;
  display: none;
  cursor: pointer;

}


/*--------------------------------------------------------------*/
/*Banner Container*/

.banner-container {
   
  position: relative;
  max-width: 100%;
  z-index: -2;
  width: auto;
  height:1080px;
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 1),
    rgba(0, 0, 0, 0.1)
   ), url(./resources/aurora-1197753.jpg);
  background-position:center ;
  background-repeat: no-repeat;
  background-size: cover;
  
}

.banner {
  
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
    
  
}
.banner h1 {
  color: #ffffff;
}
.banner h2{
  color: #9FB0BF;
}


/*--------------------------------------------------------------*/

/*About me container*/
.aboutMe-container{
  position:relative;
  
  display: flex;
  flex-wrap: wrap;
  z-index: 1;
  width: 100%;
  height: auto;
  align-content:center;
  justify-items:center;
  text-align: center;
  justify-content: space-around;
  height: auto;
  background: #ffffff;
   }



.picture-container{
  width: 50%;
  
  height: 100%;
  
}

.aboutMe-container img{
  height: auto;
  
 
    
}

.aboutMe-container h2{
  
  margin-top: 3%;
  color: #ffffff;
  font-size: 4rem;

}

.aboutMe-container p{
  padding-top: 50px;
  font-style:normal;
  color: white;
  font-size: 2rem;
  flex-wrap: wrap;
  
}

.mydescription-container{
  z-index: 1;
  background-color: rgb(5, 5, 5);
  padding: 50px 50px;
  border-radius: 50px;
  margin: 20px 10px;
  width: 500px;
  height: auto;
 
} 


.moredescription{
  z-index: 1;
  background-color: rgb(5, 5, 5);
  padding: 50px 50px;
  border-radius: 50px;
  margin: 20px 10px;
  width: 500px;
  height: auto;
}

.readMoreBtn{
  padding: 10px;
  color: #444444;
  background-color: #cecece;
  border-radius: 5px;
  border: 1px solid white;
  font-size: 1rem;
  transition: 0.25s;
  text-align: center;
}

.backBtn {
  padding: 10px;
  color: #444444;
  background-color: #cecece;
  border-radius: 5px;
  border: 1px solid white;
  font-size: 1rem;
  transition: 0.25s;
  text-align: center;
}


  





  


/*--------------------------------------------------------------*/
/*Skills Container*/
#skill{
  width: 100%;
  position: relative;
  background-color: #000000;
  text-align: center;
  height: auto;
  padding-top: 30px;
  padding-bottom: 50px;
  
  }

  #skill h2{
    padding-top: 20px;
    padding-bottom: 20px;
  }

.skill-container{
  display: grid;
  grid-template-columns: auto auto auto ;
  grid-template-rows: auto auto;
  justify-items: center;
  align-items: center;
  
}

.skill-container img{
  padding: 25px 10px;
  max-width: 100px;
  min-width: 50px;
  filter: grayscale(1);
}

.skill-container img:hover{
  filter: none;
  transition: 0.25s;
}

/*--------------------------------------------------------------*/
/*Footer Container*/
footer{
  padding-top: 20px;
  padding-bottom: 20px;
   background-color: #9FB0BF;
}

.footer-container{
  display: flex;
  margin: 0;
  flex-wrap: wrap;
  width: 100%;
  align-content: center;
  justify-items: center;
  align-items: center;
  justify-content: space-around;
 }



.social-media{
  width: 50%;
  display: inline-flex;
  gap: 5px;
  justify-content: space-around;
  flex: wrap;
     
}

/*--------------------------------------------------------------*/
/*Contact Button-footer*/

.contact-button {
  font-weight: 500;
  padding: 12px 22px;
  background-color: black;
  color: #ffffff;
  border-radius: 10px;
  border: 2px solid #9FB0BF;
  transition: 0.25s;
  text-align: center;
  font-size: 0.85rem;
  
}


.contact-button:hover {
  background-color: #0aa5ff;
  color: white;
}


/*--------------------------------------------------------------*/

.footer-menu{
  padding-right: 10px;
  padding-left: 10px;
  list-style: none;
    
}

.footer-menu a{
  display: inline;
  text-decoration: none;
  font-size: 1rem;
  text-align: center;
  color: rgb(255, 255, 255);
}

.footer-menu a:hover{
  color: #363636;
}

.footer-menu ul{
  list-style-type: none;
}

/*--------------------------------------------------------------*/

/*Fuentes Tamanos*/

h1 {
  font-size: 4rem;
  color: rgb(255, 255, 255);
}

h2 {
  font-size: 2.5rem;
  color: rgb(255, 255, 255);
}


h3 {
  font-size: 2rem;
  color: rgb(255, 255, 255);
}

p {
  font-size: 1rem;
  font-style: italic;
  color: rgb(5, 5, 5);
}


/*--------------------------------------------------------------*/


@media screen and (max-width: 53rem){
  .menu{
    display: none;
  }
  .menu-btn {
    display:block;
  }
}

@media screen and (max-width: 300px) {
  body {
    background-color: olive;
  }
  .skill-container {
    display: grid;
    grid-template-columns:  auto auto ;
    grid-template-rows: auto auto auto;
    justify-items: center;
    align-items: center;
  }
  .social-media{
    padding-top: 15px;
    gap: 15px;

}}
